<div class="beliefsContainer">
  <h1 layout="row" layout-align="center">Your Cultural Summary</h1>
  <h3 layout="row" layout-align="center" class="word-wrap">You can choose another saying randomly from the category list or click on the text and change it however you like</h3>

 <!--        <md-button class="md-raised md-primary cat-button" type="submit" ng-click="show()" class="btn-primary" >show chosenLastName</md-button> -->

  <br/>
  <br/>
  <table cellpadding="10" layout="row" layout-align="center">
    <tr ng-style="{'font-size': '20px'}" ng-repeat="belief in mainBeliefs track by $index">
    <td align="center">
      {{tempSeven[$index]}}
    </td>
    <td>
      {{$index+1}}. 
    </td>
    <td align="left">
      <div>
        <input type="text" size="85" ng-model="mainBeliefs[$index]">
        <!-- {{$index+1}}. {{belief}} -->
      </div>
    </td>

    <td align="right">  
      <md-button class="md-raised md-primary cat-button" ng-click="getRandomBelief($index)">Random</md-button>
    </td>



<!--       <div ng-show="beliefDiv{{$index}}"><input type="text" name="updateBelief" ng-model="updatedBelief" ngMaxLength="240" required="String">

      <button type="submit" ng-click="updateAddedBelief($index, updatedBelief)" class="btn btn-success btn-info updatedAddedBeliefButton">Update</button> -->

    </tr>
  </table>

<!--   <div class="addToSevenBeliefs">
    <input type="text" name="addBelief" ng-model="addedBelief" ngMaxLength="240" required="String"> -->
  <!--  <button class="btn-danger" ng-click="removeCategory(data, category)">Remove</button> -->

<!--     <button type="submit" ng-click="grabResponseAndAddToSevenBeliefs()" class="btn-primary">Submit</button> -->

    <br/>
    <div layout="row" layout-align="center">
      <h1>When you're ready, click below</h1>
    </div>
    <div layout="row" layout-align="center">

      <md-button class="md-raised md-primary cat-button" type="submit" ng-click="moveToLastName()" class="btn-primary" >Submit</md-button>
    </div>

  </div>
</div>