<!-- <md-toolbar color="primary">
  <button>
  <h1 class="hereandnow">Realize</h1>
  </button>
</md-toolbar> -->
<div class="beliefsContainer" layout="column" layout-align="center center">
  <h1 >Maxims</h1>
  <div ng-style="{'max-width': '40em', 'text-align': 'center', 'font-size': '20px'}" >
  <p layout="row" layout-align="center" class="word-wrap">Based on your three chosen categories, we have selected seven maxims from a database of founding fathers, poets and geniuses. 

  On the left you'll see which category each belongs to. The button on the right will choose another maxim randomly from our database. Or click on the text and change the text however you like.</p>

  <p>Got one of your own? Something Grandpa once told you or something Mom always said? Add it in!</p>
  </div>

  <br/>
  <table cellpadding="10" layout="row" layout-align="center">
    <tr ng-style="{'font-size': '20px'}" ng-repeat="belief in mainBeliefs track by $index">
    <td align="center"><md-button class="md-raised md-muted btn-block" >{{tempSeven[$index]}}</md-button>
      
    </td>
    <td>
      &nbsp;&nbsp;&nbsp;{{$index+1}}.&nbsp; 
    </td>
    <td align="left">
      <div>
        <input type="text" size="85" ng-model="mainBeliefs[$index]">
        <!-- {{$index+1}}. {{belief}} -->
      </div>
    </td>

    <td align="right">  
      <md-button class="md-raised md-primary cat-button" ng-click="getRandomBelief($index)">Random</md-button>
    </td>



<!--       <div ng-show="beliefDiv{{$index}}"><input type="text" name="updateBelief" ng-model="updatedBelief" ngMaxLength="240" required="String">

      <button type="submit" ng-click="updateAddedBelief($index, updatedBelief)" class="btn btn-success btn-info updatedAddedBeliefButton">Update</button> -->

    </tr>
  </table>

<!--   <div class="addToSevenBeliefs">
    <input type="text" name="addBelief" ng-model="addedBelief" ngMaxLength="240" required="String"> -->
  <!--  <button class="btn-danger" ng-click="removeCategory(data, category)">Remove</button> -->

<!--     <button type="submit" ng-click="grabResponseAndAddToSevenBeliefs()" class="btn-primary">Submit</button> -->

    <br/>
    <div layout="row" layout-align="center">
      <h1>When you're ready, click below</h1>
    </div>
    <div layout="row" layout-align="center">

      <md-button class="md-raised md-primary cat-button" type="submit" ng-click="moveToLastName()" >Submit</md-button>
    </div>

  </div>
</div>