<md-toolbar >
<!--   <button> -->
  <!-- <h1 class="hereandnow" layout="row" layout-align="center"> -->

  <md-button ><img style="width:300px; height:75px; padding:5px;" src="/../assets/realize-logo-transparent.png"></md-button>


  <!-- Reali<span class="redz">z</span>e</h1> -->


<!--   </button> -->
</md-toolbar>
<div>
  <h1 layout="row" layout-align="center">Of those, what's the most important of all?</h1>
  <br>
  <br>
  <div layout="row" layout-align="center">
    <md-list ng-repeat="category in threeChoices">

      <md-list-item>

        <input class="checkboxListThree" type="checkbox" checklist-model="primary" checklist-value="category">&nbsp;&nbsp;<div class="checkbox-text">{{category}}</div>

      </md-list-item>

    </md-list>

  </div>
   <br/>
   <br/>
  <div layout="row" layout-align="center">

   <md-button type="submit" class="md-raised md-primary cat-button" ng-click="grabResponseAndShowBeliefs()">Submit</md-button>

  </div>

</div>


