<div ng-style="{'color': 'black'}">
  <h1 layout="column" layout-align="center center">Of those, what's the most important of all?</h1>
  <br>
  <br>
  <div layout="row" layout-align="center center">
    <md-list ng-repeat="category in threeChoices">

      <md-list-item>

        <input class="checkboxListThree" type="checkbox" checklist-model="primary" checklist-value="category"><div class="checkbox-text" ng-style="{'font-size': '30px'}">&nbsp{{category}}</div>

      </md-list-item>

    </md-list>

  </div>
   <br/>
   <br/>
  <div layout="row" layout-align="center">

   <md-button type="submit" class="md-raised md-primary cat-button" ng-click="grabResponseAndShowBeliefs()">Submit</md-button>

  </div>

</div>


