<md-toolbar color="primary">
  <button>
  <h1 class="hereandnow">Realize</h1>
  </button>
</md-toolbar>
<div>
  <h1 layout="row" layout-align="center">Which three are most important to you?</h1>
  {{chosenThree}}
  <br/>

<!--   <md-content class="md-padding" layout="row" layout-align="center" layout-wrap>
    <md-card ng-repeat="category in data track by $index" flex="19">
      <md-card-content>
        <div flex layout="column" layout-align="center">
          <h1 style="text-align:center">{{category.name}}</h1>
          <h3>{{category.description}}</h3>
          <md-button type="submit" class="md-raised md-primary cat-button" ng-click="chooseImage(image.trueUrl)">
            Add/Remove
          </md-button>
        </div>
      </md-card-content>
    </md-card>

  </md-content> -->





      <md-button class="md-raised md-primary cat-button" type="submit" ng-click="show()" class="btn-primary" >show chosenLastName</md-button>

  <table cellpadding="10" layout="row" layout-align="center">
    <tr ng-style="{'font-size': '20px'}" ng-repeat="category in data track by $index">
    <td align="left" class="widecell">

      <input type="checkbox" checklist-model="threeChoices" checklist-value="category.name" class="checkboxList checkbox-text" checklist-change="checkChanged(name)" ng-disabled="checked===limit">     {{category.name}}

    </td>

    <td align="left">{{category.description}}
    </td>
  </tr>
  </table>
  <br/>
    <div layout="row" layout-align="center">

      <md-button class="md-raised md-primary cat-button" type="submit" ng-click="grabResponseAndShowQuestionTwo()" class="btn-primary" >Submit</md-button>
    </div>

</div>
