<md-toolbar >

  <md-button ><img style="width:300px; height:75px; padding:5px;" src="/../assets/realize-logo-transparent.png"></md-button>

</md-toolbar>
<div layout="column" layout-align="center center">

      <h2>What's your last name?</h2><br/>

  </div>
    <br/>

  <div layout="column" layout-align="center center">

    <md-input-container>
    <input ng-style="{'font-size': '28px', 'text-align': 'center'}" type="text" placeholder="Click Here to Enter Name" ng-value="string" ng-model="chosen.lastName">
    </md-input-container>

    <br/>

    <md-button class="md-raised md-primary cat-button" type="submit" ng-click="moveToImages()" class="btn-primary" >Submit</button>

</div>

</br>
</br>
</br>

<footer>
  <md-toolbar layout="row"
              layout-align="center center">
<div>
<!-- <a href="[full link to your Twitter]">
<img title="Twitter" alt="Twitter" src="https://socialmediawidgets.files.wordpress.com/2014/03/twitter.png" width="35" height="35" />
</a> -->
<a href="https://www.pinterest.com/realizeyourlegacy/legacies/" target="_blank">
<img title="Pinterest" alt="Pinterest" src="https://socialmediawidgets.files.wordpress.com/2014/03/pinterest.png" width="35" height="35" />
</a>
<a href="https://www.facebook.com/Realize-Your-Legacy-1404791329840165/" target="_blank">
<img title="Facebook" alt="Facebook" src="https://socialmediawidgets.files.wordpress.com/2014/03/facebook.png" width="35" height="35" />
</a>
<a href="mailto:info@realizeyourculture.com">
<img title="Email" alt="Email" src="https://socialmediawidgets.files.wordpress.com/2014/03/email.png" width="35" height="35" />
</a>
</div>
  </md-toolbar>
</footer>