<md-toolbar >

  <md-button ><img style="width:300px; height:75px; padding:5px;" src="/../assets/realize-logo-transparent.png"></md-button>

</md-toolbar>
<div layout="column" layout-align="center center">

      <h2>What's your last name?</h2><br/>

  </div>
    <br/>

  <div layout="column" layout-align="center center">

    <md-input-container>
    <input ng-style="{'font-size': '28px', 'text-align': 'center'}" type="text" placeholder="Click Here to Enter Name" ng-value="string" ng-model="chosen.lastName">
    </md-input-container>

    <br/>

    <md-button class="md-raised md-primary cat-button" type="submit" ng-click="moveToImages()" class="btn-primary" >Submit</button>

</div>