<div class="image" style="background-image: url('../assets/space-sunset.jpg')">
  <div layout="row" layout-align="center">
<!-- 
      <h2>What's your last name?</h2><br/>

  </div>

  <div layout="column" layout-align="center">

    
    <input type="text" ng-value="chosenLastName" ng-model="chosenLastName">
    <md-button class="md-raised md-primary cat-button" type="submit" ng-click="show()" class="btn-primary" >show chosenLastName</md-button>

    {{chosenLastName}} -->

    <md-button class="md-raised md-primary cat-button" type="submit" href="#/firstseven" ng-click="grabResponseAndShowQuestionTwo()" class="btn-primary" >Create A Culture</button>

  </div>
</div>