<md-toolbar >

  <md-button >Beta<img style="width:300px; height:75px; padding:5px;" src="/../assets/realize-logo-transparent.png"></md-button>

</md-toolbar>

<div id="firsttry">
  <div layout="column" layout-align="center center" >
  
  <h1 layout="row" layout-align="center">Choose an Image</h1>
  <div ng-style="{'max-width': '30em', 'text-align': 'center', 'font-size': '20px'}" >
    <p layout="row" layout-align="center" class="word-wrap">Words can mean different things to different people. Images, however, bypass the mind and speak directly to the soul.</p>

    <p>On the next page, you'll be able to change the color, add more images or upload your own.</p>
    </br>
    <p style="color:blue; font-size:30px">Which one inspires YOU?</p>
    </br>


  </div>

  </div>

  <md-content class="md-padding" layout="row" layout-align="center" layout-wrap>
    <md-card ng-repeat="image in images" flex="24">
      <img src="{{image.trueUrl}}">
      <md-card-content>
        <div flex layout="column" layout-align="center">
<!--           <h3 style="text-align:center">{{image.tag}}</h3> -->
          <md-button type="submit" class="md-raised md-primary cat-button" ng-click="chooseImage(image.trueUrl)">
            Choose
          </md-button>
        </div>
      </md-card-content>
    </md-card>

  </md-content>

</div>

</br>
</br>
</br>

<footer>
  <md-toolbar layout="row"
              layout-align="center center">
<div>
<!-- <a href="[full link to your Twitter]">
<img title="Twitter" alt="Twitter" src="https://socialmediawidgets.files.wordpress.com/2014/03/twitter.png" width="35" height="35" />
</a> -->
<a href="https://www.pinterest.com/realizeyourlegacy/legacies/" target="_blank">
<img title="Pinterest" alt="Pinterest" src="https://socialmediawidgets.files.wordpress.com/2014/03/pinterest.png" width="35" height="35" />
</a>
<a href="https://www.facebook.com/Realize-Your-Legacy-1404791329840165/" target="_blank">
<img title="Facebook" alt="Facebook" src="https://socialmediawidgets.files.wordpress.com/2014/03/facebook.png" width="35" height="35" />
</a>
<a href="mailto:info@realizeyourculture.com">
<img title="Email" alt="Email" src="https://socialmediawidgets.files.wordpress.com/2014/03/email.png" width="35" height="35" />
</a>
</div>
  </md-toolbar>
</footer>




