<md-toolbar >

  <md-button ><img style="width:300px; height:75px; padding:5px;" src="/../assets/realize-logo-transparent.png"></md-button>

</md-toolbar>

<div>
  <div layout="column" layout-align="center center" >
  
  <h1 layout="row" layout-align="center">Choose an Image</h1>
  <div ng-style="{'max-width': '30em', 'text-align': 'center', 'font-size': '20px'}" >
    <p layout="row" layout-align="center" class="word-wrap">Words mean different things to different people. Images, however, bypass our cluttered minds and speak directly to the soul.</p>

    <p layout="row" layout-align="center" class="word-wrap">What do you want to inspire in those who see your Legacy? For most of us, lions evoke feelings of courage, bears evoke strength and power and shields evoke feelings of prestige and wealth. </p>

    <p>Which one inspires YOU?</p>

    <p>(On the next page, you'll be able to change the color. You'll also be able to upload your own image.)</p>
  </div>

  </div>

  <md-content class="md-padding" layout="row" layout-align="center" layout-wrap>
    <md-card ng-repeat="image in images" flex="24">
      <img src="{{image.trueUrl}}">
      <md-card-content>
        <div flex layout="column" layout-align="center">
<!--           <h3 style="text-align:center">{{image.tag}}</h3> -->
          <md-button type="submit" class="md-raised md-primary cat-button" ng-click="chooseImage(image.trueUrl)">
            Choose
          </md-button>
        </div>
      </md-card-content>
    </md-card>

  </md-content>



<!--   <md-button class="md-raised md-primary cat-button" type="submit" href="#/firstseven" ng-click="grabResponseAndShowQuestionTwo()" class="btn-primary" >Create A Culture</button> -->

</div>

</br>
</br>
</br>

<footer>
  <md-toolbar layout="row"
              layout-align="center center">
<div>
<a href="[full link to your Twitter]">
<img title="Twitter" alt="Twitter" src="https://socialmediawidgets.files.wordpress.com/2014/03/01_twitter.png" width="35" height="35" />
</a>
<a href="[full link to your Pinterest]">
<img title="Pinterest" alt="Pinterest" src="https://socialmediawidgets.files.wordpress.com/2014/03/13_pinterest.png" width="35" height="35" />
</a>
<a href="[full link to your Facebook page]">
<img title="Facebook" alt="Facebook" src="https://socialmediawidgets.files.wordpress.com/2014/03/02_facebook.png" width="35" height="35" />
</a>
<a href="[full link to your LinkedIn]">
<img title="LinkedIn" alt="LinkedIn" src="https://socialmediawidgets.files.wordpress.com/2014/03/07_linkedin.png" width="35" height="35" />
</a>
<a href="[full link to your Instagram]">
<img title="Instagram" alt="RSS" src="https://socialmediawidgets.files.wordpress.com/2014/03/10_instagram.png" width="35" height="35" />
</a>
</div>
  </md-toolbar>
</footer>




